<div class="main_container">
  <h2>スケジュール一覧</h2>
  
  <% if flash[:success] %>
    <p class="alert alert_success"><%= flash[:success] %></p>
  <% end %>

  <% if flash[:delete] %>
    <p class="alert alert_delete"><%= flash[:delete] %></p>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>終日</th>
        <th>スケジュール更新日時</th>
        <th>確認</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
      <% @plans.each do |plan| %>
        <tr>
          <td><%= plan.id %></td>
          <td><%= plan.title %></td>
          <td><%= plan.start_date.to_s(:datetime_jp) %></td>
          <td><%= plan.end_date.to_s(:datetime_jp) %></td>
          <td><%= if plan.all_day == 1.to_s
                    all_day = "◯"
                  end %></td>
          <td><%= plan.updated_at.to_s(:datetime__jp) %></td>
          <td>
            <%= link_to "確認", plan %>
          </td>
          <td>
            <%= link_to "編集", [:edit, plan] %>
          </td>
          <td>
            <%= link_to "削除", plan, method: :delete, data: { confirm: "本当に削除しますか？" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p><%= link_to "スケジュール新規登録", :new_plan %></p>
</div>  
<footer>
  <h1>現在の日時：<%= Time.new.to_s(:datetime_jp) %>　スケジュールの合計：<%= Plan.count %></h1>
</footer>